<a href="https://colab.research.google.com/github/tanzeyl/Self-Study/blob/main/Amazon_Fine_Food_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd
import numpy as np
import nltk
import string
import seaborn as sns
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer

In [2]:
#Connecting and reading the SQLite Database
con = sqlite3.connect("/content/drive/MyDrive/Colab Notebooks/database.sqlite")
filtered_data = pd.read_sql_query("SELECT * from Reviews WHERE Score != 3", con)

In [3]:
def partition(x):
  if x > 3:
    return "Negative"
  return "Positive"

In [4]:
actualScore = filtered_data["Score"]
pos_neg = actualScore.map(partition)
filtered_data["Score"] = pos_neg

In [5]:
filtered_data.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [6]:
filtered_data.shape

(525814, 10)

In [8]:
#Removing duplicates
final = filtered_data.drop_duplicates(subset = {"UserId", "ProfileName", "Time", "Text"}, keep="first", inplace = False)

In [9]:
final.shape

(364173, 10)

In [10]:
final = final[final.HelpfulnessNumerator <= final.HelpfulnessDenominator]

In [11]:
final.shape

(364171, 10)