In [1]:
import pandas
import numpy
import matplotlib.pyplot
%matplotlib inline

In [2]:
data = pandas.read_csv("Train.csv")

In [3]:
data.shape

(8523, 12)

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [27]:
data = pandas.get_dummies(data)

In [28]:
train = data[0:7999]

In [29]:
test = data[8000:]

In [30]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,4454.2020,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,4233.1564,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,5033.4480,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,1342.2528,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,2446.1492,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [31]:
x_train = train.drop("Item_Outlet_Sales", axis = 1)

In [32]:
y_train = train["Item_Outlet_Sales"]

In [33]:
x_test = test.drop("Item_Outlet_Sales", axis = 1)

In [34]:
true_p = test["Item_Outlet_Sales"]

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lreg = LinearRegression()

In [37]:
x_train = pandas.get_dummies(x_train)

In [38]:
x_train.shape

(7999, 1604)

In [39]:
x_test = pandas.get_dummies(x_test)

In [40]:
x_test.shape

(523, 1604)

In [41]:
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [42]:
x_train.fillna(0, inplace=True)

In [43]:
x_test.fillna(0, inplace=True)

In [44]:
lreg.fit(x_train, y_train)

LinearRegression()

In [46]:
pred = lreg.predict(x_test)

In [47]:
lreg.score(x_test, true_p)

0.4023233507549785

In [48]:
lreg.score(x_train, y_train)

0.6497748647541417

In [54]:
rmse_test = numpy.sqrt(numpy.mean(numpy.power((numpy.array(true_p)-numpy.array(pred)),2)))

In [57]:
rmse_train = numpy.sqrt(numpy.mean(numpy.power((numpy.array(y_train)-numpy.array(lreg.predict(x_train))),2)))

In [58]:
print(rmse_test)
print(rmse_train)

1255.343760546888
1013.0021960903795