In [1]:
using Pkg
Pkg.add("CSV")
Pkg.add("DataFrames")

    Updating registry at `C:\Users\tanze\.julia\registries\General.toml`
   Resolving package versions...
  No Changes to `C:\Users\tanze\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\tanze\.julia\environments\v1.7\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\tanze\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\tanze\.julia\environments\v1.7\Manifest.toml`

In [2]:
using CSV
using DataFrames

In [3]:
data = CSV.read("iris.csv", DataFrame, normalizenames = true)

150×5 DataFrame
 Row │ Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          4.7          3.2           1.3          0.2  setosa
   4 │          4.6          3.1           1.5          0.2  setosa
   5 │          5.0          3.6           1.4          0.2  setosa
   6 │          5.4          3.9           1.7          0.4  setosa
   7 │          4.6          3.4           1.4          0.3  setosa
   8 │          5.0          3.4           1.5          0.2  setosa
   9 │          4.4          2.9           1.4          0.2  setosa
  10 │          4.9          3.1           1.5          0.1  setosa
  11 │          5.4          3.7           1.5          0.2  setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮           ⋮
 141 │          6.7          3.1           5.6          2.4  virginica
 142 │          6.9          3.1           5.1          2.3  virginica
 143 │          5.8          2.7           5.1          1.9  virginica
 144 │          6.8          3.2           5.9          2.3  virginica
 145 │          6.7          3.3           5.7          2.5  virginica
 146 │          6.7          3.0           5.2          2.3  virginica
 147 │          6.3          2.5           5.0          1.9  virginica
 148 │          6.5          3.0           5.2          2.0  virginica
 149 │          6.2          3.4           5.4          2.3  virginica
 150 │          5.9          3.0           5.1          1.8  virginica
                                                       129 rows omitted

In [4]:
typeof(data)

DataFrame

In [5]:
names(data)

5-element Vector{String}:
 "Sepal_Length"
 "Sepal_Width"
 "Petal_Length"
 "Petal_Width"
 "Species"

In [6]:
size(data)

(150, 5)

In [10]:
first(data, 10)

10×5 DataFrame
 Row │ Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
     │ Float64       Float64      Float64       Float64      String15
─────┼────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          4.7          3.2           1.3          0.2  setosa
   4 │          4.6          3.1           1.5          0.2  setosa
   5 │          5.0          3.6           1.4          0.2  setosa
   6 │          5.4          3.9           1.7          0.4  setosa
   7 │          4.6          3.4           1.4          0.3  setosa
   8 │          5.0          3.4           1.5          0.2  setosa
   9 │          4.4          2.9           1.4          0.2  setosa
  10 │          4.9          3.1           1.5          0.1  setosa

In [11]:
last(data, 10)

10×5 DataFrame
 Row │ Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          6.7          3.1           5.6          2.4  virginica
   2 │          6.9          3.1           5.1          2.3  virginica
   3 │          5.8          2.7           5.1          1.9  virginica
   4 │          6.8          3.2           5.9          2.3  virginica
   5 │          6.7          3.3           5.7          2.5  virginica
   6 │          6.7          3.0           5.2          2.3  virginica
   7 │          6.3          2.5           5.0          1.9  virginica
   8 │          6.5          3.0           5.2          2.0  virginica
   9 │          6.2          3.4           5.4          2.3  virginica
  10 │          5.9          3.0           5.1          1.8  virginica

In [12]:
describe(data)

5×7 DataFrame
 Row │ variable      mean     min     median  max        nmissing  eltype
     │ Symbol        Union…   Any     Union…  Any        Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ Sepal_Length  5.84333  4.3     5.8     7.9               0  Float64
   2 │ Sepal_Width   3.05733  2.0     3.0     4.4               0  Float64
   3 │ Petal_Length  3.758    1.0     4.35    6.9               0  Float64
   4 │ Petal_Width   1.19933  0.1     1.3     2.5               0  Float64
   5 │ Species                setosa          virginica         0  String15

In [14]:
data.Species

150-element PooledArrays.PooledVector{String15, UInt32, Vector{UInt32}}:
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 "setosa"
 ⋮
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"
 "virginica"