In [2]:
for i in ["Adidas", "Puma", "Nike", "HRX", "Lacoste"]
    print(i, " ")
end

Adidas Puma Nike HRX Lacoste

In [3]:
for i in ["Adidas", "Puma", "Nike", "HRX", "Lacoste"]
    println(i)
end

Adidas
Puma
Nike
HRX
Lacoste

In [8]:
for i in ["Adidas", "Puma", "Nike", "HRX", "Lacoste"]
    for j in i
        print(j, "\t")
    end
    print("\n")
end

A	d	i	d	a	s
P	u	m	a
N	i	k	e
H	R	X
L	a	c	o	s	t	e

In [31]:
for i in "Tanzeel"
    print(i, " ")
end

T a n z e e l

In [10]:
Cars = Dict("BMW" => 100000, "Mercedes" => 200000, "Rolls Royace" => 500000)

Dict{String, Int64} with 3 entries:
  "Mercedes"     => 200000
  "BMW"          => 100000
  "Rolls Royace" => 500000

In [30]:
for d in Cars
    print(d, " ")
end

"Mercedes" => 200000 "BMW" => 100000 "Rolls Royace" => 500000

In [16]:
for d in keys(Cars)
    print(d, " ")
end

Mercedes
BMW
Rolls Royace

In [29]:
for d in values(Cars)
    print(d, " ")
end

200000 100000 500000

In [18]:
for i in 1:10
    print(i, " ")
end

1 2 3 4 5 6 7 8 9 10

In [19]:
for i in 1:5
    @show i
end

i = 1
i = 2
i = 3
i = 4
i = 5

In [28]:
for i in 1:20
    if i%2 == 0
        print(i, " ")
    end
end

2 4 6 8 10 12 14 16 18 20

In [24]:
for i in 1:10
    print("10 x $(i) = $(i*10)\n")
end

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [27]:
for i in 1:10
    if i == 5
        continue
    end
    print(i, " ")
end

1 2 3 4 6 7 8 9 10

In [32]:
a = 1
while a < 10
    print(a, " ")
    a += 1
end

1 2 3 4 5 6 7 8 9

In [39]:
print("List of prime numbers from 1 to 100:\n")
flag = 1
for i in 1:100
    for j in 2:i/2
        if i%j == 0
            flag = 0
        end
    end
    if flag == 1
        print(i, " ")
    end
    flag = 1
end

List of prime numbers from 1 to 100:
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97